          
    <div class="app-ecommerce-category">
      <!-- Category List Table -->
      <div class="card">
        <div class="card-datatable">
          <table class="datatables-category-list table">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th>Categories</th>
                <th class="text-nowrap text-sm-end">Total Products &nbsp;</th>
                <th class="text-nowrap text-sm-end">Total Earning</th>
                <th class="text-lg-center">Actions</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <!-- Offcanvas to add new customer -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEcommerceCategoryList" aria-labelledby="offcanvasEcommerceCategoryListLabel">
        <!-- Offcanvas Header -->
        <div class="offcanvas-header py-6">
          <h5 id="offcanvasEcommerceCategoryListLabel" class="offcanvas-title">Add User</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- Offcanvas Body -->
        <div class="offcanvas-body border-top">
          <form class="pt-0" id="eCommerceCategoryListForm" onsubmit="return true">
            <!-- Email -->
            <div class="mb-6 form-control-validation">
              <label class="form-label" for="ecommerce-category-title">Email</label>
              <input type="text" id="email" required class="form-control" placeholder="Enter email" aria-label="email" name="email">
            </div>
            <!-- Identification Number -->
            <div class="mb-6 form-control-validation">
              <label class="form-label" for="ecommerce-category-slug">Identification Number</label>
              <input type="text" id="identification_number" required class="form-control" placeholder="Enter Identification Number" aria-label="identification_number" name="identification_number">
            </div>

            <div class="mb-6 form-control-validation">
              <label class="form-label" for="ecommerce-category-slug">Full Name</label>
              <input type="text" id="fullname" required class="form-control" placeholder="Enter FullName" aria-label="fullname" name="fullname">
            </div>

            <!-- Image -->
            <!--<div class="mb-6">
              <label class="form-label" for="ecommerce-category-image">Attachment</label>
              <input class="form-control" type="file" id="ecommerce-category-image">
            </div>-->
            <!------Class/Department Info----------->
            
            <div class="mb-6 ecommerce-select2-dropdown">
              <label class="form-label" for="ecommerce-category-parent-category">Level</label>
              <select id="role" class="select2 form-select" data-placeholder="Select Role">
                <option value="">Select Role</option>
                <option value="student">Student</option>
                <option value="staff">Staff</option>
                <option value="subadmin">Sub-Admin Control</option>
               
              </select>
            </div>
            
            <!-- Parent category -->
            <div class="mb-6 ecommerce-select2-dropdown">
              <label class="form-label" for="ecommerce-category-parent-category">Programme</label>
              <select id="role" class="select2 form-select" data-placeholder="Select Role">
                <option value="">Select Role</option>
                <option value="student">Student</option>
                <option value="staff">Staff</option>
                <option value="subadmin">Sub-Admin Control</option>
               
              </select>
            </div>
            

            <!-- Parent category -->
            <div class="mb-6 ecommerce-select2-dropdown">
              <label class="form-label" for="ecommerce-category-parent-category">Role</label>
              <select id="role" class="select2 form-select" data-placeholder="Select Role">
                <option value="">Select Role</option>
                <option value="student">Student</option>
                <option value="staff">Staff</option>
                <option value="subadmin">Sub-Admin Control</option>
               
              </select>
            </div>
            <!-- Description 
            <div class="mb-6">
              <label class="form-label">Description</label>
              <div class="form-control p-0 py-1">
                <div class="comment-editor border-0" id="ecommerce-category-description"></div>
                <div class="comment-toolbar border-0 rounded">
                  <div class="d-flex justify-content-end">
                    <span class="ql-formats me-0">
                      <button class="ql-bold"></button>
                      <button class="ql-italic"></button>
                      <button class="ql-underline"></button>
                      <button class="ql-list" value="ordered"></button>
                      <button class="ql-list" value="bullet"></button>
                      <button class="ql-link"></button>
                      <button class="ql-image"></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>-->
            <!-- Submit and reset -->
            <div class="mb-6">
              <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">Add</button>
              <button type="reset" class="btn btn-label-danger" data-bs-dismiss="offcanvas">Discard</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  